
{% block body %}

{% for label, flashes in app.session.flashbag.all %}
	{% for flash in flashes %}
		<div class="alert alert-{{ label }}">{{ flash }}</div>
	{% endfor %}
{% endfor %}

<form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<button type="submit">Send</button>
</form>
{% endblock %}
